main {
  color: #312244;
}

nav a {
  color: #312244;
}

footer {
  background-color: #312244;
  color: #eff7f6;
}

footer a {
  color: #eff7f6;
}

a:hover,
.tags,
.btn-my:hover {
  color: #06d6a0;
}

.header-my {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
}

/* div {
  border: 1px solid black;
} */

.carousel-item {
  height: min-content;
}

.carousel-item img {
  height: 100%;
}

.my-border {
  border-right: 1px solid #ced4da;
}

.my-width {
  width: 75%;
}

.about-me article {
  width: 75%;
  font-size: x-large;
}

@media (max-width: 800px) {
  .header-my {
    width: 100%;
    position: unset;
  }

  .about-me article {
    width: 100%;
    font-size: medium;
  }

  .my-row {
    height: 100%;
  }

  .my-border {
    border: none;
  }

  .my-width {
    width: 100%;
  }

  nav a,
  footer a {
    font-size: small;
  }
}